<div class="container">
  <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyBW0td9v69m95iy5Q2YiMebpIO7ztCnuPU">
    <!-- <ng-map center="51.8513663338609, -2.0978219003906133" zoom="10"> 
        <marker id="mymarker" position="[51.85, -2.09]" title="Hello Marker" animation="Animation.BOUNCE" draggable="true" visible="true" icon="/images/active_marker.png"></marker>   
        <marker position="[51.851, -2.281]" title="Marker 2" animation="Animation.DROP" draggable="true" visible="true" icon="/images/active_marker.png"></marker>
        <info-window id="bar" position="51.82, -2.09" visible="true">
          <div ng-non-bindable>
            <div id="siteNotice"></div>
          </div>
        </info-window>
    </div> -->
    <ng-map default-style="true" center="51.8513663338609, -2.0978219003906133" zoom="10">
        <custom-control id="home" position="TOP_RIGHT" index="1" ng-click="mapctl.moveDemo()">
            <div style="background-color: black; color:#fff;cursor:pointer">demo</div>
          </custom-control>    
      <info-window id="myInfoWindow">
        <div ng-non-bindable>
          {{ mapctl.selectedPerson.name  }}
          {{ mapctl.selectedPerson.pos }}
        </div>
      </info-window>
      <marker ng-repeat="p in mapctl.people" position="{{p.pos}}" title="{{p.name}}" id="{{p.id}}" on-click="mapctl.showPerson(event, p)">
      </marker>
    </ng-map>
  </div>
  <!-- This loads a google graphic over australia
          <map-data load-geo-json="https://storage.googleapis.com/maps-devrel/google.json"></map-data>
           -->
  <!-- <custom-marker ng-repeat="p in $ctrl.positions track by $index"
            id="custom-marker-{{$index}}"
            on-click="$ctrl.map.showInfoWindow('foo', 'custom-marker-'+$index)"
            position="{{p.pos}}">
            <div>
              position {{p.name}}: {{p.pos[0]}}, {{p.pos[1]}}
            </div>
          </custom-marker>
          <info-window id="foo" on-mouseover="$ctrl.mouseover()">
            <div ng-non-bindable="">
              Lat: {{anchor.getPosition().lat()}}<br/>
              Lng: {{anchor.getPosition().lng()}}<br/>
            </div>
          </info-window>
       -->
  <div>
    <div class="user-info row">
      <div class="col-sm-2">
        <strong>{{mapctl.currentUser.name}}</strong>
      </div>
      <div class="col-sm-4">
        <span> last pos: [{{mapctl.currentUser.lastlatitude}}, {{mapctl.currentUser.lastlongitude}}]
        </span>
      </div>
      <div class="col-sm-1">
        status:
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control rowinput" placeholder="Add a new thing here." ng-model="mapctl.currentUser.status">
      </div>
      <div class="col-sm-1">
        <a ng-click="mapctl.statusUpdate()">
          <span class="fa fa-paper-plane fa-2x"></span>
        </a>
      </div>
    </div>
  </div>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in mapctl.users">
      <div class="user-info row">
        <div class="col-sm-2">
          <strong>{{user.name}}</strong>
        </div>
        <div class="col-sm-1">
            <span class="text-muted">enabled</span>
          </div>
          <div class="col-sm-1">
                <input type="checkbox" ng-model="user.enabled" ng-true-value="true" ng-false-value="false">
            </div>
        <div class="col-sm-3">
          <span>pos=[{{user.lastlatitude}}, {{user.lastlongitude}}]
          </span>
        </div>
        <div class="col-sm-5">
            <span class="text-muted">{{user.status}}</span>
          </div>
      </div>
    </li>
  </ul>
</div>
<script src="/public/scripts/ng-map.min.js"></script>
<script src="http://maps.google.com/maps/api/js"></script>
