<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/yeoman.png" height="22" alt="I'm Yeoman">Let's do this thing!
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Active Users:</h3>
      <ul class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-lg-1">Username</th>
              <th class="col-lg-5">Info</th>
              <th class="col-lg-1">Complete</th>
              <th class="col-lg-2">date required</th>
              <th class="col-lg-2">date complete</th>
              <th class="col-lg-1">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="thing in $ctrl.awesomeThings track by $index">
              <td>{{thing.name}}</td>
              <td>{{thing.info}}</td>
              <td>
                <input type="checkbox" ng-model="thing.complete" ng-true-value="true" ng-false-value="false">
              </td>
              <td>
                <p class="input-group">
                  <span>{{thing.dateRequiredBy|date}}</span>
                </p>
              </td>
              <td>{{thing.dateComplete}}</td>
              <td>
                <a href="#" uib-tooltip="Delete todo {{thing.info}}">
                  <button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </ul>
    </div>
  </div>
  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>

</div>
